{% extends 'base.html' %}
{% block con %}

<div class="containder mt-5 mb-5">
    <h1><b>투표소</b></h1><br>

    <div class="text-end">
        <a href="{% url 'vote:create' %}" class="btn btn-primary btn-lg">토픽생성</a>
    </div>
    <div class="row">
        {% for i in tset %}
            <div class="col-sm-4 mt-5 text-center">
                <div class="card">
                    <img src="{{i.maker.getpic}}" class="card-img-top" title="{{user}}">
                    <div class="card-body">
                        <h5 class="card-title"><b>{{i.subject}}</b></h5>
                        <p class="card-text">{{i.content}}</p>
                        <a href="{% url 'vote:detail' i.id %}" class="btn btn-primary">
                            {% if user in i.voter.all %} 결과보기 {% else %} 투표하기 {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    

</div>

{% endblock %}